@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic');

body {
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 1.5rem;
    color: #21496a !important;
    background: #ffeead;
}

a {
    color: #21496a;
}

header {
    padding: 1rem 1rem !important;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-grow: .2;
}


.badge {
    float: right;
}

form {
    font-size: 1.5rem;
}

.type-1,
.type-2 {
    width: 100%;
    margin-bottom: 3rem;
}

.dot {
    height: 18px;
    width: 18px;
    background-color: #ffeead;
    border-radius: 50%;
    display: inline-block;
}

.card {
    background-color: #96ceb4;
    margin: 0 .9rem;
}

.card::before {
    content: '◖';
    color: #96ceb4;
    position: absolute;
    left: -14px;
    z-index: -1;
}

.card::after {
    content: '◗';
    color: #96ceb4;
    position: absolute;
    right: -14px;
    z-index: -1;
}

.card.disabled {
    opacity: .7;
}

.card.disabled .card-header a {
    text-decoration: line-through;
}

.dot.inwork {
    background-color: #21496a;
}

.card.done .card-header a {
    text-decoration: none;
}

.dot.done {
    background-color: #57997a;
}

.dot.banned {
    background-color: #d9534f;
}

.dot.check {
    background-color: #ffad60;
}

.card.sharing {
    background-color: #d9534f;
    color: #ffeead !important;
}
 
.card.sharing .card-header a {
    color: #ffeead;
}

.card.sharing .status {
    color: #ffeead;
} 


.card.sharing::before, .card.sharing::after {
    color: #d9534f;
}

.card.sharing .badge-light {
    color: #ffeead;
}

.card-header h5 {
    width: 83vw;
    font-size: 1.3rem;
    font-weight: 700;
}

.card-header a {
    text-decoration: none;
    color: #21496a;
}

.card-body {
    font-size: 1rem;
    text-align: 1rem;
}

.btn {
    border: none;
}

.btn-coral {
    background-color: #ffad60;
    color: #21496a;
}

.btn-cancel {
    background-color: #d9534f;
    color: #ffeead;
}

.btn-orange {
    background-color: #ffad60;
    color: #ffeead;
}

.btn-success {
    background-color: #57997a;
    color: #ffeead;
}

.bg-success {
    background-color: #57997a !important;
}

.badge-light {
    color: #21496a;
    background-color: #ffad60;
}

.status {
    font-size: 1.4rem;
    color: #21496a;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

h1 {
    width: 100%;
}

h1::before,
h1::after {
    content: '▬';
    margin: 0 1rem;
    font-size: 1.5rem;
    vertical-align: 15%;
    color: #96ceb4;
}

.rules {
    margin: 0 2rem;
    text-align: center;

}

h3 {
    font-size: 1.2rem;
    display: inline-flex;

}

h2 {
    font-size: 2rem;
    display: inline-flex;

}

h3::before,
h3::after,
h2::before,
h2::after {
    content: '▬';
    margin: 0 1rem;
    font-size: 1rem;
    vertical-align: 10%;
    color: #96ceb4;
}

.rules-title {
    text-align: center;
    /* color: coral; */
}

h1.rules-title::after,
h1.rules-title::before {
    content: '⬥';
    font-size: 2.5rem;
    vertical-align: 0%;
    color: #96ceb4;
}

p {
    font-size: 1rem;
    text-align: justify;
    z-index: 2;
    display: block;
}

ul,
li {
    font-size: initial;
    text-align: left;
}

.answer {
    position: fixed;
    bottom: 0px;
    background-color: #f6f6e9;
    margin-right: 15px;
}

.answer:before {
    content: ' ';
    display: block;
    position: fixed;
    left: -20px;
    width: 120%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
    background-color: #96ceb4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.close {
    margin: 1rem 1rem 0 0;
}

.jumbotron {
    margin: 0 1rem;
    background-color: inherit;
    /* opacity: .9; */
}
